/* @keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* ----- ABOUT CARD STYLE (LIKE YOUR IMAGE) ----- */
.about-section {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #c850c0, #ff5858); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  color: white;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  animation: slideIn 1.5s ease-out forwards;
  border: 1px solid 1.5s ease-out forwards;
}

.about-card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.about-card hr {
  border: none;
  height: 2px;
  background: white;
  width: 100%;
  margin-bottom: 20px;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.about-card p {
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  animation: fadeInText 1s ease-out 0.6s forwards;
}

/* ----- GENERAL SECTION STYLE ----- */
.section {
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-size: 400% 400%;
animation: gradientBackground 15s ease infinite;
}

.section.light {
  background: #f9fafb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}
.fade-in {
  animation: fadeSlide 3.8s ease forwards;
}

/* ----- BUTTON COLORS ----- */
.green {
  background: linear-gradient(135deg, #22c55e, #16a34a);
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.next{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: blue;
  background-color: linear-gradient(135deg, #22c55e, #16a34a);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}